body {
    background-color: #0087CC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.header {
    text-align: center;
    background-color: #002A40;
    color: white;
    font-weight: bolder;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin-bottom: 10px;
}

.container {
    text-align: center;
    background-color: #00547F;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}

h3 {
    margin: 10px;
}

.container2 {
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    min-height: 200px;
}

button {
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}

button:hover {
    background-color: #0087CC;
    color: #fff;
}

.selected {
    
    background-color: #007FBF;
    color: #fff;
    margin-top: 10px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
}

input {
    font-size: 20px;
    padding: 10px;
}

.barcode {
    align-self: center;
    padding: 20px;
}

#sizeButtons {
    text-align: center;
}

.popup {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00547F;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: solid 10px #0087CC;
}

.popup button {
    width: 200px;
    padding: 15px;
}

.popup-content {
    padding: 25px 20px 20px 20px;
    color: white;
}

.closeMenu {
    text-align: center;
    font-weight: bolder;
    align-items: center;
    background-color: #002A40;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px;
}
  
.closeMenu:hover {
    text-align: center;
    font-weight: bolder;
    align-items: center;
    background-color: #007FBF;
    color: #FFFFFF;
    cursor: pointer;
    padding: 20px;
}

.footer {
    background-color: #002A40;
    color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    margin: 0px;
}